[
    {erlvpn_server, [
        {listen_port, 4433},
        {listen_address, "0.0.0.0"},
        {max_clients, 10000},
        {tunnel_ipv4_cidr, "10.8.0.0/16"},
        {tunnel_ipv6_cidr, "fd00:erlvpn::/64"},
        {tunnel_mtu, 1280},
        {tunnel_device, "erlvpn0"},
        {allowed_ips, ["0.0.0.0/0", "::/0"]},
        {excluded_ips, []},
        {allow_client_to_client, false},
        {enable_nat, true},
        {dns_enabled, true},
        {dns_upstream, ["1.1.1.1", "8.8.8.8"]},
        {dns_cache_size, 10000},
        {auth_method, token},
        {token_file, "etc/tokens"},
        {session_token_ttl, 86400},
        {max_auth_attempts, 5},
        {auth_timeout, 30000},
        {keepalive_interval, 25},
        {keepalive_timeout, 60},
        {cert_file, "certs/server.crt"},
        {key_file, "certs/server.key"},
        {metrics_enabled, true},
        {metrics_port, 9100},
        {metrics_address, "127.0.0.1"}
    ]},
    {erlvpn_client, [
        {server_address, "127.0.0.1"},
        {server_port, 4433},
        {transport_mode, quic_stream},
        {auth_method, token},
        {auth_token, undefined},
        {kill_switch, true},
        {kill_switch_mode, system},
        {mtu, 1280},
        {reconnect_attempts, 10},
        {reconnect_backoff_max, 30000},
        {enable_0rtt, true}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                formatter => {logger_formatter, #{
                    template => [time, " [", level, "] ", pid, " ", mfa, ":", line, " ", msg, "\n"],
                    single_line => true
                }}
            }}
        ]}
    ]},
    {sasl, [
        {sasl_error_logger, false}
    ]}
].
